.array-container {
  /* Magic here */
    /* height: 94vh;  */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.array-bar {
    width: 4px;
    background-color: #2670d8;
    display: inline-block;
    margin: 0 1px;
}

body {
  background-color: #777;
}

.button-bar button {
  background-color:#002570;
    border: 1px solid White;
    color: white; /* White text */
    font-weight: bold;
    padding: 10px 24px; 
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 14.28%;
  }
  
  .button-bar button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .button-bar:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .button-bar button:hover {
    background-color: #3333ff;
  }